<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="../static/hedar.css" rel="stylesheet" type="text/css" />
    <link href="../static/main.css" rel="stylesheet" type="text/css" />
    <link href="../static/footer.css" rel="stylesheet" type="text/css" />

    <style>
        body {
            background-color: black;
            
            color: white;
        }
    </style>
</head>

<body>
    <div id="header">
        <div id="headerLeft">
            <img src="../static/Daangeun_Logo_Color_RGB.png">
        </div>
        <div id="headerRight">
            <span>팀 문화</span>
            <span>채용공고</span>
            <span>자주 묻는 질문</span>
            <span>IR</span>
        </div>
    </div>

    <div id="main">
        <div id="introTop">
            <div id="introTopTop">
                <div id="introTopTopTop">
                    이웃과 더 가까워지는</br>
                    따뜻한 동네를 만들어요.
                </div>
                <div id="introTopTopMiddle">
                    <img src="../static/Daangeun_Logo_Color_RGB.png">
                </div>
                <div id="introTopTopBottom">
                    월평균 1,800만 명의 사용자, 하루 평균 사용 시간 20분, 1억 2천만</br>
                    번의 연결. 중고 직거래로 시작한 당근 마켓은 국내 최대의 지역 생활</br>
                    커뮤니티 서비스로 나아가고 있어요. 이웃이 알려주는 진짜 우리 동네</br>
                    정보, 내 근처에 숨어있는 좋은 가게를 발견하고, 이웃과 함께 소소한</br>
                    일상을 나눌 수 있는 따뜻하고 풍요로운 동네 생활을 꿈꿔요.
                </div>
            </div>
            
            <div id="introTopMiddle1">
                <div id="introTopMiddle1Left">
                    <div id="introTopMiddle1LeftTeam">당근마켓 팀</div>
                    <div id="introTopMiddle1LeftIntro">사용자 가치를</br>
                    최우선으로 생각해요</div>
                </div>
                <div id="introTopMiddle1Right">
                    우리는 동네 안에서 연결되지 못한 가치 있는 정보를 발견하고, 지역 생활 속의
                    불편함을 해결하기 위해 모였어요. 만드는 사람이 불편할수록, 쓰는 사람은
                    편하다는 믿음으로 언제나 사용자 관점에서 생각하며 지속적인 테스트를 통해
                    답을 찾아요. 지역 커뮤니티와 이웃에 대한 공감, 동료를 향한 신뢰를 바탕으로
                    모두의 생활에 없어서는 안 될 최고의 서비스를 만들기 위해 노력해요.
                </div>
            </div>
            
            <div id="introTopMiddle2">
                <div id="introTopMiddle2Left">
                    <div id="introTopMiddle2LeftPic">
                        <img src="../static/Daangeun_Logo_Color_RGB.png">
                    </div>
                    <div id="introTopMiddle2LeftText">
                        건설적인 비판과 피드백을 줄 수 있는 동료와 일하고 있어요.
                        모두가 자기가 제일 잘하는 분야에서 권한과 책임을 가진 리더에요.
                        하나의 서비스를 만들기 위해, 형식보단 일에 집중할 수 있는 환경 속에서
                        빠르게 성장하고 있어요
                        <div>Summer/Business Development Manager</div>
                    </div>
                </div>
                <div id="introTopMiddle2Right">
                    <div id="introTopMiddle2RightPic">
                        <img src="../static/Daangeun_Logo_Color_RGB.png">
                    </div>
                    <div id="introTopMiddle2RightText">
                        뛰어난 동료들과 최대한의 역량을 발휘하며 일하고 있어요.
                        이 과정에서 프로덕트의 서장뿐만 아니라 개인의 성장까지 이뤄내고 있어요.
                        서비스 측면에서 시도해보고 싶은 기능을 자유롭게 제시하고 실현 시킬 수 있는 곳이 당근마켓이에요.
                        <div>David/Software Engineer</div>
                    </div>
                </div>
            </div>
            
            <div id="introTopSlide">
                introTopSlide
            </div>
            
            <div id="introTopBottom">
                <div id="introTopBottomLeft">
                    <div>팀문화</div>
                    <span>우리는 함께
                    </br>성장할 수 있다고 믿어요</span>
                    <div>자세히 보기 👉</div>
                </div>
                <div id="introTopBottomRight">
                    <img src="../static/Daangeun_Logo_Color_RGB.png">
                </div>
            </div>
        </div>

        <div id="introBottom">
            <div id="introBottomPic">
                <img src="../static/Daangeun_Logo_Color_RGB.png">
            </div>
            <div id="introBottomText">
                <span>지금, 당근마켓의 여정에 함께하세요</span>
                <div>채용공고 보러 가기 👉</div>
            </div>
        </div>
    </div>

    <div id="footer">
        <div id="footerLeft">
            <div id="footerLeftTop">
                <span>개인정보처리방침</span>
                <span>브랜드 리소스</span>
                <span>자주 묻는 질문</span>
                <span>IR</span>
            </div>
            <div id="footerLeftBottom">
                <div>주소 : 서울특별시 서초구 강남대로 465, 교보강남타워 11층</div>
                <div>ⓒ 당근마켓</div>
            </div>
        </div>
        <div id="footerRight">
            <span>Github</span>
            <span>Facebook</span>
            <span>Instargram</span>
        </div>
    </div>

</body>

</html>