footer {
    /* background-color: aquamarine; */

    padding-left: 15vw;
    padding-right: 15vw;

    display: flex;
    justify-content: space-between;
}

#info {
    /* background-color: seagreen; */

    flex-basis: 40%;
}

#sns { 
    /* background-color: hotpink; */

    flex-basis: 40%;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    gap: 20px;
}

#question {
    margin-bottom: 10px;
}

#address > div {
    color: gray;
}