.header {
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 13.5vw;
    padding-right: 15vw;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    /* position: fixed;
    width: 100%; */
}

.menu {
    /* background-color: yellowgreen; */
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 3.5rem;

    list-style: none;
}