#header {
    background-color: antiquewhite;

    display: flex;
    justify-content: center;
}

#header > #headerLeft {
    background-color: violet;

    flex-basis: 30%;
}

#headerLeft > img {
    width: 95%;
    max-width: 200px;
}

#header > #headerRight {
    background-color:blueviolet;

    flex-basis: 30%;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#headerRight > span {
    margin-left: 20px;
}