<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>당근마켓 팀</title>

    <link href="../static/header.css" rel="stylesheet" type="text/css" />
    <link href="../static/main.css" rel="stylesheet" type="text/css" />
    <link href="../static/footer.css" rel="stylesheet" type="text/css" />

    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">

    <style>
        * {
            background-color: #2b2e33;

            color: #fff;

            font-family: 'Gowun Dodum', sans-serif;
        }

        body {
            padding-top: 6.25rem;
        }

        /* a태그 밑줄 없애기 */
        a {
            text-decoration-line: none;
        }
    </style>
</head>

<body>

    <header>
        <div class="header">
            <div class="logo">
                <img src="../static/Daangeun_Logo_Color_RGB.png" width="200px">
            </div>
            <nav class="menu-bar">
                <ul class="menu">
                    <li class="menu_list">팀 문화</li>
                    <li class="menu_list">채용공고</li>
                    <li class="menu_list">자주 묻는 질문</li>
                    <li class="menu_list">IR</li>
                </ul>
            </nav>
        </div>
    </header>

    <main>

        <div id="main-title">
            <h1>이웃과 더 가까워지는 </br>
            따뜻한 동네를 만들어요.</h1>
        </div>

        <div id="main-view">

            <section id="company-intro">
                <div id="company-img">
                    <img src="../static/company-img.avif" width="100%">
                </div>
                <div id="company-text">
                    월평균 1,800만 명의 사용자, 하루 평균 사용 시간 20분, 1억 2천만 번의 연결.
                    중고 직거래로 시작한 당근마켓은 국내 최대의 지역 생활 커뮤니티 서비스로 나아가고 있어요.
                    이웃이 알려주는 진짜 우리 동네 정보, 내 근처에 숨어있는 좋은 가게를 발견하고, 
                    이웃과 함께 소소한 일상을 나눌 수 있는 따뜻하고 풍요로운 동네 생활을 꿈꿔요.
                </div>
            </section>

            <section id="team-intro">
                <div id="team-intro-titie">
                    <span>당근마켓 팀</span>
                    <h1>사용자 가치를 </br>
                    최우선으로 생각해요</h1>
                </div>
                <div id="team-intro-desc">
                    우리는 동네 안에서 연결되지 못한 가치 있는 정보를 발견하고, 
                    지역 생활 속의 불편함을 해결하기 위해 모였어요. 
                    만드는 사람이 불편할수록, 쓰는 사람은 편하다는 믿음으로 
                    언제나 사용자 관점에서 생각하며 지속적인 테스트를 통해 답을 찾아요.
                    지역 커뮤니티와 이웃에 대한 공감, 동료를 향한 신뢰를 바탕으로 
                    모두의 생활에 없어서는 안 될 최고의 서비스를 만들기 위해 노력해요.
                </div>
            </section>

            <section id="people-intro">
                <button id="left-btn">
                    <image src="../static/left-button.png" height = "32px" width="32px"></image>
                </button>

                <div class="person-list-1">
                    <div class="person-intro" id="summer">
                        <div class="person-img">
                            <img id="img" src="../static/person-img-1.avif" width="100%" height="450px">
                        </div>
                        <div class="person-text">
                            건설적인 비판과 피드백을 줄 수 있는 동료와 일하고 있어요.
                            모두가 자기가 제일 잘하는 분야에서 권한과 책임을 가진 
                            리더에요. 하나의 서비스를 만들기 위해, 형식보단 
                            일에 집중할 수 있는 환경 속에서 빠르게 성장하고 있어요.
                        </div>
                        </br>   
                        Summer / BDM
                    </div>
                    <div class="person-intro" id="david">
                        <div class="person-img">
                            <img src="../static/person-img-2.avif" width="100%" height="450px">
                        </div>
                        <div class="person-text">
                            뛰어난 동료들과 최대한의 역량을 발휘하며 일하고 있어요.
                            이 과정에서 프로덕트의 성장뿐만 아니라 개인의 성장까지 
                            이뤄내고 있어요. 서비스 측면에서 시도해보고 싶은 
                            기능을 자유롭게 제시하고 실현시킬 수 있는 곳이 
                            당근마켓이에요.
                        </div>
                        </br>
                        David / SE
                    </div>
                </div>

                <div class="person-list-2" style="display: none;">
                    <div class="person-intro" id="zeo">
                        <div class="person-img">
                            <img src="../static/person-img-6.avif" width="100%">
                        </div>
                        <div class="person-text">
                            사용자에게 사랑받는 제품을 설계하는 가슴 뛰는 일을 하고 
                            있어요. 최고의 사용자 경험을 위해 고민하고 어떤 문제를 
                            어떻게 풀지 주도적으로 정할 수 있어요. 더 큰 비즈니스 
                            임팩트를 내기 위해 치열하게 고민해 볼 수 있는 게 
                            큰 장점이에요.
                        </div>
                        </br>
                        Zoe / PD
                    </div>
                    <div class="person-intro" id="bien">
                        <div class="person-img">
                            <img src="../static/person-img-5.avif" width="100%">
                        </div>
                        <div class="person-text">
                            플랫폼이 성장하면서 많은 요청을 처리하기 위해 아키텍처가 
                            변화하고 있어요. 이로 인해 다양한 시도와 학습은 
                            필수적이에요. 당근마켓 팀은 이런 문제들을 해결하기 위해
                            끊임없이 학습하고, 새로운 시도와 개선을 하며 
                            하루하루 성장하고 있어요.
                        </div>
                        </br>
                        Bien / SE
                    </div>
                </div>

                <div class="person-list-3" style="display: none;">
                    <div class="person-intro" id="eidde">
                        <div class="person-img">
                            <img src="../static/person-img-4.avif" width="100%">
                        </div>
                        <div class="person-text">
                            사용자에게 사랑받는 프로덕트를 만드는 것 만한 재미가 
                            있을까요? 한국과 글로벌 사용자들이 겪는 문제를 
                            파고들어 해결책을 찾는 과정 자체가 즐거움이자 보상이에요.
                            사용자 입장에서 생각하는 동료들과 함께하기에 
                            작은 실패들을 쌓아 큰 성공을 향해가고 있다고 믿을 수 있어요.
                        </div>
                        </br>
                        Eddie / GPM
                    </div>
                    <div class="person-intro" id="nicole">
                        <div class="person-img">
                            <img src="../static/person-img-3.avif" width="100%">
                        </div>
                        <div class="person-text">
                            오늘도 마케팅팀은 '우리 사용자들은 어떤 것에 공감할까?'에 
                            대한 끊임없는 고민을 하고 있어요. 사용자 중심으로 
                            사고하며 당근마켓 브랜드와 사용자 사이에 정서적인 연결을
                            만들어내는 일. 이것만큼 마케터에게 지속 성장의 
                            가치와 재미를 전달해주는 일이 있을까요?
                        </div>
                        </br>
                        Nicole / ML
                    </div>
                </div>

                <button id="right-btn">
                    <image src="../static/right-button.png" height = "32px" width="32px"></image>
                </button>
            </section>

        </div>

    </main>

    <footer>
        <div id="info">
            <div id="question">
                <span>개인정보처리방침</span>
                <span>브랜드 리소스</span>
                <span>자주 묻는 질문</span>
                <span>IR</span>
            </div>
            <div id="address">
                <div>주소 : 서울특별시 서초구 강남대로 465,</br> 교보강남타워 11층</div>
                <div>ⓒ 당근마켓</div>
            </div>
        </div>
        
        <div id="sns">
            <span>Github</span>
            <span>Facebook</span>
            <span>Instargram</span>
        </div>
    </footer>

</body>
<script type="text/javascript" src="script.js"></script>
</html>